@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Bold.ttf);
}

@font-face {
  font-family: SatoshiLight;
  src: url(../src/fonts/Satoshi-Light.woff2);
}

body {
  background: #010314;
  color: #fff;
  font-family: Satoshi;
}

@layer base {

  ul,
  ol {
    list-style: revert;
  }
}

.gradient {
  /* background: radial-gradient(1332% 40% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.40) 100%); */
  background: rgb(251, 251, 254);
  background: rgb(251, 251, 254);
  background: rgb(252, 252, 254);
  background: radial-gradient(circle, rgba(252, 252, 254, 1) 11%, rgba(254, 254, 255, 1) 18%, rgba(254, 254, 255, 1) 23%, rgba(254, 254, 255, 0.6979166666666667) 45%, rgba(254, 254, 255, 0.16850490196078427) 92%, rgba(254, 254, 255, 0.16850490196078427) 94%);
  /* background: radial-gradient(circle, rgba(251, 251, 254, 1) 22%, rgba(246, 245, 251, 0.5270483193277311) 29%, rgba(254, 254, 255, 1) 30%, rgba(249, 248, 253, 1) 32%, rgba(254, 254, 255, 1) 42%, rgba(255, 255, 255, 0.5158438375350141) 89%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: rgb(251, 251, 254); */
}

.gradient2 {
  background: rgb(251, 251, 254);
  background: rgb(251, 251, 254);
  background: rgb(252, 252, 254);
  background: radial-gradient(circle, rgba(252, 252, 254, 1) 11%, rgba(254, 254, 255, 1) 18%, rgba(254, 254, 255, 1) 23%, rgba(254, 254, 255, 0.6979166666666667) 45%, rgba(254, 254, 255, 0.16850490196078427) 92%, rgba(254, 254, 255, 0.16850490196078427) 94%);
  /* background: radial-gradient(circle, rgba(251, 251, 254, 1) 22%, rgba(246, 245, 251, 0.5270483193277311) 29%, rgba(254, 254, 255, 1) 30%, rgba(249, 248, 253, 1) 32%, rgba(254, 254, 255, 1) 42%, rgba(255, 255, 255, 0.5158438375350141) 89%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient3 {
  width: fit-content;
  background: radial-gradient(circle, rgba(252, 252, 254, 1) 0%, rgba(254, 254, 255, 1) 8%, rgba(254, 254, 255, 1) 14%, rgba(254, 254, 255, 0.6979166666666667) 40%, rgba(254, 254, 255, 0.16850490196078427) 92%, rgba(254, 254, 255, 0.16850490196078427) 98%);
  /* background: radial-gradient(circle, rgba(251, 251, 254, 1) 22%, rgba(246, 245, 251, 0.5270483193277311) 29%, rgba(254, 254, 255, 1) 30%, rgba(249, 248, 253, 1) 32%, rgba(254, 254, 255, 1) 42%, rgba(255, 255, 255, 0.5158438375350141) 89%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smallBorder {
  border: 0.4px solid #ffffff63;

}

.forthe {
  border-radius: 11.35px;
  background: linear-gradient(180deg, #0F1123 0%, rgba(15, 17, 35, 0.00) 100%);
  box-shadow: 0px 6.031px 11.307px 0px rgba(15, 15, 15, 0.14);
}

.gradBorder {
  background: linear-gradient(to right, rgba(2, 252, 239, 0.7), rgba(255, 181, 43, 0.7), rgba(160, 43, 254, 0.7));

  /* Use linear gradient as border image */
  /* Add padding to the element to prevent content from touching the border */

}

.imgbg {
  border-radius: 8.234px;
  background: linear-gradient(180deg, #0F1123 0%, rgba(15, 17, 35, 0.00) 100%);
}


.imgggg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 52.54%, #010314 89.27%), url(), lightgray -514.051px 0px / 346.592% 100% no-repeat;
  mix-blend-mode: luminosity;
}



.loadinggradient {
  background: radial-gradient(71.64% 71.64% at 89.5% 19.75%, #64D3FE 0%, #589AF2 33.33%, #5483EE 66.67%, #484CE3 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
}