@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}


@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Bold.ttf);
}

@font-face {
  font-family: SatoshiLight;
  src: url(../src/fonts/Satoshi-Light.woff2);
}

body {
  background: #010314;
  color: #fff;
  font-family: Satoshi;
}

.gradient {
  background: radial-gradient(48% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.40) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2 {
  background: radial-gradient(1332.36% 20% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.40) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smallBorder {
  border: 0.4px solid #ffffff63;

}

.gradBorder {
  background: linear-gradient(to right, rgba(2, 252, 239, 0.7), rgba(255, 181, 43, 0.7), rgba(160, 43, 254, 0.7));

  /* Use linear gradient as border image */
  /* Add padding to the element to prevent content from touching the border */

}